<div data-controller="tweet-card" data-tweet-path="<%= tweet_path(tweet) %>" class="tweet py-4 px-3">
  <div class="flex-shrink-0">
    <%= image_tag tweet.user.avatar, size: "50x50", class: "rounded-circle" %>
  </div>
  <p>
        <span class="fw-semibold">
            <%= tweet.user.display_name %>
        </span> @<%= tweet.user.username %> . <%= formatted_date(tweet) %></p>
  <p><%= tweet.body %></p>

  <div class="d-flex justify-content-around tweet-action-links">

    <div class="align-items-center">
      <%= link_to tweet_path(tweet), data: { "ignore-click": true }, class: "text-decoration-none replies" do %>
        <%= image_tag "tweets/reply.png", class: "tweets-action-icon" %>
        <span>Replies</span>
      <% end %>
    </div>

    <div>
      <% if retweet_active?(tweet, current_user) %>
        <%= link_to tweet_retweet_path(tweet, tweet.retweets.find_by(user_id: current_user.id)), data: { "ignore-click": true, "ignore-click" => true }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/repost-active.png", class: "tweets-action-icon" %>
          <span><%= tweet.retweets.count %></span>
        <% end %>

      <% else %>
        <%= link_to tweet_retweets_path(tweet), data: { "ignore-click": true, turbo_method: :post }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/repost.png", class: "tweets-action-icon" %>
          <span><%= tweet.retweets.count %></span>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if like_active?(tweet, current_user) %>
        <%= link_to tweet_like_path(tweet, tweet.likes.find_by(user_id: current_user.id)), data: { turbo_method: :delete, "ignore-click" => true }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/like_active.png", class: "tweets-action-icon" %>
          <span><%= tweet.likes.count %></span>
        <% end %>

      <% else %>
        <%= link_to tweet_likes_path(tweet), data: { turbo_method: :post, "ignore-click" => true }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/heart.png", class: "tweets-action-icon" %>
          <span><%= tweet.likes.count %></span>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= link_to "#", data: { "ignore-click" => true }, class: "text-decoration-none views" do %>
        <%= image_tag "tweets/binocular.png", class: "tweets-action-icon" %>
        <span>Views</span>
      <% end %>
    </div>

    <div>
      <%= link_to "#", data: { "ignore-click" => true }, class: "text-decoration-none share" do %>
        <%= image_tag "tweets/share.png", class: "tweets-action-icon" %>
        <span>Share</span>
      <% end %>
    </div>

    <div>
      <% if bookmark_active?(tweet, current_user) %>
        <%= link_to tweet_bookmark_path(tweet, tweet.bookmarks.find_by(user_id: current_user.id)), data: { turbo_method: :delete, "ignore-click" => true }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/bookmark-active.png", class: "tweets-action-icon" %>
          <span>Bookmarked</span>
        <% end %>
]
      <% else %>
        <%= link_to tweet_bookmarks_path(tweet), data: { turbo_method: :post, "ignore-click" => true }, class: "text-decoration-none likes" do %>
          <%= image_tag "tweets/bookmark.png", class: "tweets-action-icon" %>
          <span>Bookmark</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>