<div class="container py-2">
    <div class="row">
        <aside class="col side-navbar">

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-4 sidebar-link" do %>
                <div class="py-4 px-4 rounded-circle">
                    <%= image_tag "navbar/twitter_icon.svg", class: "twiiter-icon" %>
                </div>
            <% end %>

            <%= link_to dashboard_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("dashboard")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/homepage_icon.png", class: "images-icon" %>
                        Главная
                    </span>
                </div>
            <% end %>

            <%= link_to dashboard_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("review")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/explorer_icon.png", class: "images-icon" %>
                        Обзор
                    </span>
                </div>
            <% end %>

            <%= link_to dashboard_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("notification")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/notification_icon.png", class: "images-icon" %>
                        Уведомления
                    </span>
                </div>
            <% end %>

            <%= link_to dashboard_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("messages")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/messages_icon.png", class: "images-icon" %>
                        Сообщения
                    </span>
                </div>
            <% end %>

            <%= link_to user_bookmarks_path(current_user), class: "d-flex align-items-center fs-4 mb-4 #{active_link?("bookmarks")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/bookmark_icon.png", class: "images-icon" %>
                        Закладки
                    </span>
                </div>
            <% end %>

            <%= link_to profile_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("profile")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/profile_icon.png", class: "images-icon" %>
                        Профиль
                    </span>
                </div>
            <% end %>

            <%= link_to dashboard_path, class: "d-flex align-items-center fs-4 mb-4 #{active_link?("more")}" do %>
                <div class="px-3 py-2 rounded-pill">
                    <span class="me-4 position-relative">
                        <%= image_tag "navbar/unicorn.png", class: "images-icon" %>
                        Еще
                    </span>
                </div>
            <% end %>

            <div class="d-flex align-items-center fs-4 mb-4">
                <%= button_tag "Tweet", class: "btn btn-primary btn-lg rounded-pill", data: {"bs-toggle": "modal", "bs-target": "#exampleModal"}, style:"width: 300px" %>
            </div>

            <!-- Tweet Modal -->

            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= render "shared/tweets-form"%>
                  </div>
                </div>
              </div>
            </div>

            <div>
                <%= link_to "Выйти", destroy_user_session_path, data: {turbo_method: "delete"} %>
            </div>


        </aside>

    </div>
</div>